
.nav__list {
    display: flex;
    justify-content: space-evenly;
    background-color: brown;
    padding: 5px;
}

.nav__switcher:checked + .nav__list {
    display: flex;
}

.element {
    width: 25vw;
}

.nav__element-offer:hover .offer__list {
    position: absolute;
}

.hamburger {
    display: none;
}